In [8]:
import numpy as np
import pandas as pd

In [14]:
metadata_df = pd.read_csv('../data/SFS_metadata.csv')
metadata_df.head()

,user_name,pic_name,styles,tags,location,time
0,000ecstaSY000,75820.jpg,"Romantic,Fashion Show,fall,","deep puple,boots,","Surat, Gujarat","Updated on Jul 09, 2011"
1,000ecstaSY000,75818.jpg,"Chic,Beach,summer,","maroon,personal bracelet,","Surat, Gujarat","Updated on Aug 04, 2012"
2,0011zm,129462.jpg,"Urban,Girls Night Out,spring,","miss 60ty boots,H&M jacket,H&M leggings,Zara s...","Ontario, Ontario","Updated on Apr 15, 2013"
3,0011zm,129468.jpg,"Vintage,Movie night,spring,","Urban Outfitters hat,H&M bag,","Ontario, Ontario","Updated on Apr 22, 2010"
4,0011zm,129454.jpg,"Leather,Other,summer,","H&M shirt,GoJane bra,H&M pants,","Ontario, Ontario","Updated on Jul 30, 2014"

In [18]:
print(metadata_df.columns)
NUM_ROWS = len(metadata_df.index)
new_col = np.zeros(NUM_ROWS)
print(new_col)
metadata_df.insert(2, "new_pic_name", new_col, True)
print(metadata_df.columns)

Index(['user_name', 'pic_name', 'styles', 'tags', 'location', 'time'], dtype='object')
[0. 0. 0. ... 0. 0. 0.]
Index(['user_name', 'pic_name', 'new_pic_name', 'styles', 'tags', 'location',
       'time'],
      dtype='object')

### Notes for next class 2-2-23
Iterated through the nested folder of images. Assign each image a new name to the dictionary (append string to list & checking the metadata dict). Move the file to a new NON-NESTED directory of images.