In [49]:
import numpy as np
import pandas as pd
import os
import shutil

In [19]:
metadata_df = pd.read_csv('../data/SFS_metadata.csv')
metadata_df.head()

,user_name,pic_name,styles,tags,location,time
0,000ecstaSY000,75820.jpg,"Romantic,Fashion Show,fall,","deep puple,boots,","Surat, Gujarat","Updated on Jul 09, 2011"
1,000ecstaSY000,75818.jpg,"Chic,Beach,summer,","maroon,personal bracelet,","Surat, Gujarat","Updated on Aug 04, 2012"
2,0011zm,129462.jpg,"Urban,Girls Night Out,spring,","miss 60ty boots,H&M jacket,H&M leggings,Zara s...","Ontario, Ontario","Updated on Apr 15, 2013"
3,0011zm,129468.jpg,"Vintage,Movie night,spring,","Urban Outfitters hat,H&M bag,","Ontario, Ontario","Updated on Apr 22, 2010"
4,0011zm,129454.jpg,"Leather,Other,summer,","H&M shirt,GoJane bra,H&M pants,","Ontario, Ontario","Updated on Jul 30, 2014"

In [4]:
#print(metadata_df.columns)
#NUM_ROWS = len(metadata_df.index)
#new_col = np.zeros(NUM_ROWS)
#print(new_col)
#metadata_df.insert(2, "new_pic_name", new_col, True)
print(metadata_df.columns)

Index(['user_name', 'pic_name', 'styles', 'tags', 'location', 'time'], dtype='object')

### Notes for next class 2-2-23
Iterated through the nested folder of images. Assign each image a new name to the dictionary (append string to list & checking the metadata dict). Move the file to a new NON-NESTED directory of images.

In [ ]:
# sort dataframe by username column alphabetically
# loop through nested folders and check if name matches next username in the dataframe
# sort pic name in dataframe
# loop through folder with images, every time pic name is not null and username matches,  
#   save a copy of image as username + (*dash*) + pic name in unpack-data folder

In [29]:
metadata_df = metadata_df.sort_values(by=['user_name', 'pic_name'])
print(metadata_df.head)

<bound method NDFrame.head of             user_name    pic_name                                  styles  \
1       000ecstaSY000   75818.jpg                      Chic,Beach,summer,
145680  000ecstaSY000   75819.jpg                     Sexy,Birthday,fall,
0       000ecstaSY000   75820.jpg             Romantic,Fashion Show,fall,
145690         0011zm  129448.jpg                       70s,Other,summer,
145681         0011zm  129449.jpg    Urban,Going Out With Friends,summer,
...               ...         ...                                     ...
145439       zsanelly     743.jpg           Business Casual,Other,Summer,
145438       zsanelly     744.jpg                  Denim,Shopping,Summer,
292912       zsanelly     745.jpg               Casual,Lunch Date,summer,
145440       zsanelly     746.jpg                  Sexy,Traveling,summer,
145437       zsanelly     747.jpg  Outdoor,Going Out With Friends,summer,

                                                     tags  \
1                               maroon,personal bracelet,
145680  personal work boots,personal work blazer,perso...
0                                       deep puple,boots,
145690                          choise dress,Topshop bag,
145681       nike shoes,American Apparel pants,Guess top,
...                                                   ...
145439                  colorful is fun,Forever 21 pants,
145438                  navy shorts,red top,white wedges,
292912        mustard bag,aquamarine top,dark green belt,
145440                      white,Soak Swimwear swimwear,
145437                                             dress,

                       location                     time
1                Surat, Gujarat  Updated on Aug 04, 2012
145680           Surat, Gujarat  Updated on Feb 05, 2012
0                Surat, Gujarat  Updated on Jul 09, 2011
145690         Ontario, Ontario  Updated on Aug 18, 2014
145681         Ontario, Ontario  Updated on Jul 01, 2014
...                         ...                      ...
145439  Philippines,, Singapore  Updated on Dec 28, 2013
145438  Philippines,, Singapore  Updated on May 13, 2012
292912  Philippines,, Singapore  Updated on May 09, 2012
145440  Philippines,, Singapore  Updated on Feb 12, 2013
145437  Philippines,, Singapore  Updated on Apr 30, 2012

[293105 rows x 6 columns]>

In [66]:
counter = 0
directory = '../data/chictopia/'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f)==False:
        bool_df = metadata_df.loc[metadata_df['user_name'] == str(filename), 'user_name'].isin([filename])
        if not bool_df.empty:
            user = '../data/chictopia/' + filename
            for pic in os.listdir(user):
                if pic != '.DS_Store':
                    file_to_copy = os.path.abspath(os.path.join(os.path.dirname(os.path.join(f, filename)),"./"+pic))
                    destination = os.path.abspath(os.path.join(os.path.dirname(f),"../../unpack-data/"+filename + "-" + pic))
                    shutil.copy2(file_to_copy, destination)
            
    if counter == 5:
        break
    counter += 1